@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&display=swap");
body {
  margin: 0;
  font: 22px/30px "Source Sans Pro", sans-serif;
  color: #2c2d48;
  background: #f6ede4;
}

.heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page {
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}

@media (max-width: 800px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 400px;
  }
}
h1 {
  font-family: "Playfair Display", serif;
}

p {
  line-height: 1.6em;
  text-align: justify;
}

a {
  text-decoration: underline dotted;
  color: white;
}

.svg {
  width: 2rem;
  height: 2rem;
}

.vertical {
  transform: rotate(90deg);
}

.header {
  text-align: center;
  line-height: normal;
  background-color: #333;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  padding: 10px 20px 20px 20px;
}
.header h1 {
  margin: 0 20px;
}

.container {
  border: 5px solid #2c2d48;
  font-family: "Oswald", sans-serif;
  background-color: #fffaf4;
}

pre {
  font-size: 1.2rem;
  padding: 20px 60px 20px 40px;
  background-color: #333;
  color: #fff;
}

.footer {
  background: #444;
  color: white;
  padding: 20px;
}

.center-me {
  background-color: #ffd;
}

/*
################################################
############------------------------############
############   STYLE STARET HERE    ############
############------------------------############
################################################
*/
/*
-----------------------------------------------
Using Flexbox
-----------------------------------------------*/
#example1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
-----------------------------------------------
Using Grid
-----------------------------------------------*/
#example2 {
  display: grid;
  place-items: center;
}

/*
-----------------------------------------------
Using Position Absolute
-----------------------------------------------*/
#example3 {
  position: relative;
}

#example3 .center-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
-----------------------------------------------
Using Display Table
-----------------------------------------------*/
#example4 {
  display: table;
}

#example4 .center-me {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*
-----------------------------------------------
Using Margin Auto
-----------------------------------------------*/
#example5 .center-me {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*
-----------------------------------------------
Using Text Align
-----------------------------------------------*/
#example6 {
  text-align: center;
}

/*
-----------------------------------------------
Padding with calc
-----------------------------------------------*/
#example7 .center-me {
  width: 100px;
  padding: 0 calc(50% - 50px);
}
